@charset "utf-8";
body{
	margin: 0;
	background-image: url(Svenska%20flaggam.png);
}

#Storbox{
	background-color:#000;
	width: 80%;
	height: 100%;
	position:absolute;
	margin-left: 10%;
	}
header{
	background-color: #050556;
	width: 100%;
	height: 10%;
	}
.Sitebild{
	height: 100%;
	width: 7.5%;
	float: left;
	background-image:url(nobelpriset.jpg);
	background-repeat:no-repeat;
	background-size:100% 100%;
	margin-right: 10px;
	margin-left: 10px;
	}
.SvenskaFlaggan{
	clear: left;
	width: 50%;
	height: 100%;
	float: right;
	background-image: url(Svenska%20flaggam.png);
	background-repeat:no-repeat;
	float: right;
	}
.Sitetitel{
	float: left;
	height: 100%;
	width: 50%;
	padding: 0;
	}
h1{
	color: #FFE90B;
	font-family: "Times New Roman", Times, serif;
	font-size: 6;
	}
.Länkbox{
	float: left;
	margin-left: 25px;
	margin-right: 25px;
	padding: 10px;
	box-sizing: border-box;
	}
h4{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1;
	text-decoration: none;
	}
h2{
	color: #FFE90B;
	text-align:center;
	}
h3{
	color: #FFE90B;
	}
nav{
	background-color: #2929DC;
	width: 100%;
	height: 10%;
	}
a:link{
	color: #FFE90B;
	text-decoration: none;
	}
a:visited{
	color: #FFE90B;
	text-decoration: none;
	}
a:active{
	font-style: italic;
	}
a:hover{
	color: #4ad5e8;
	font-weight:bold;
	}
article{
	background-color: #0D0DA3;
	height: 80%;
	width: 40%;
	float: left;
	}
.Introbild{
	height: 40%;
	width: 100%;
	margin: 50px;
	}
aside{
	background-color: #0D0DA3;
	width: 60%;
	height: 80%;
	float: left;
	}
.Textruta{
	width: 90%;
	height: 90%;
	margin: 
	1%;
	}
p{
	color: #FFE90B;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 15px;
	}
.beutypickai{
	width: 220px;
	height: 298px;
	background-image:url(Kai%20Siegbahn.jpg);
	margin-top: 5%;
	margin-left: 10%;
	}
.beutypicper{
	background-image: url(P%C3%A4r%20Lagerkvist.jpg);
	height: 298px;
	width: 255px;
	margin-top: 5%;
	margin-left: 10%;
	}
.beutypichans{
	width: 220px;
	height: 298px;
	background-image: url(Hans%20von%20Euler-Cheplin.jpg);
	margin-top: 5%;
	margin-left: 10%;
	background-size: 100% 100%;
	}
.beutypicmanne{
	width: 220px;
	height: 298px;
	background-image: url(Manne%20Seigbahn.jpg);
	margin-top: 5%;
	margin-left: 10%;
	background-size: 100% 100%;
	}
figcaption{
	color: #FFE90B;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 16px;
	margin-left: 10px;
	margin-top: 10px;
	float: right;
	}